.git
.gitignore
node_modules
npm-debug.log
README.md
.next
.env
.env.local
.env.development
.env.test
.env.production
*.log
.DS_Store
coverage
.vscode
.idea
dist
build
*.md
!README.md
test
__tests__
*.test.*
*.spec.*
.husky
.github 